{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!-- ======= gift2 Section ======= -->
 <section id="gift2" class="services section-bg">
    <div class="container">
    <div class="row content">

      <div class="order-info">
        <div class="section-title" data-aos="fade-right">
          <h2>GIFT</h2>
        </div>
        <p class="order-info" data-aos="fade-right">선물하기</p>
      </div>
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <div  style = "margin-left: 80px; margin-right:60px;" class = "choose">
              {% if menu_detail.id == 1  %}
              <img class = "choose_img" src="{% static '/img/cafeimg/americano.jpg' %}" alt="americano">
              {% elif menu_detail.id == 2 %}
              <img class = "choose_img" src="{% static '/img/cafeimg/espresso.jpg' %}" alt="americano">
              {% else %}
              {% endif %}

              {% if menu_detail.id == 3  %}
              <img class = "choose_img" src="{% static '/img/cafeimg/cafelatte.jpg' %}" alt="americano">
              {% elif menu_detail.id == 4 %}
              <img class = "choose_img" src="{% static '/img/cafeimg/caffucino.jpg' %}" alt="americano">
              {% else %}
              {% endif %}

              {% if menu_detail.id == 5  %}
              <img class = "choose_img" src="{% static '/img/cafeimg/vanilla.jpg' %}" alt="americano">
              {% elif menu_detail.id == 6 %}
              <img class = "choose_img" src="{% static '/img/cafeimg/caramel.jpg' %}" alt="americano">
              {% else %}
              {% endif %}

              {% if menu_detail.id == 7  %}
              <img class = "choose_img" src="{% static '/img/cafeimg/chocolate.jpg' %}" alt="americano">
              {% elif menu_detail.id == 8 %}
              <img class = "choose_img" src="{% static '/img/cafeimg/icetea.jpg' %}" alt="americano">
              {% else %}
              {% endif %}
              
              


              <div style="text-align: center; margin-top: 20px;">
                <p style="font-size: 20px; font-weight: bold;">선택 항목</p>
                <p style="font-size: 20px;">{{ menu_detail.title }}</p>
                <p style="font-size: 15px;">사랑방 in 명륜 캠퍼스</p>
              </div>
            </div>
          </div>

          <div style = "text-align: center; margin-top: 15px;" class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>받는 사람의 ID를 입력하세요.</p>
            <input type ="ID">
              <div style = "margin-top: 50px;">
                <a href="{% url 'gift3' menu_detail.id %}"><button class="click_btn">결제하기</button></a>
                <a href="{% url 'gift' %}"><button class="click_btn">취소</button></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End gift2 Section -->

{% endblock %}