{% extends 'base.html' %}

{% block content %}
  
<!-- ======= Main page ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h2>성균관대 학생들을 위한 카페 지침서,</h2>
    <h1>CAFE IN SKKU</h1>
    {% if user.is_authenticated %}
안녕하세요, {{ user.username }}님!
<a href="{% url 'logout' %}">로그아웃</a>
{% else %}
<div class="main_btn">
  <a href="{% url 'login' %}" class="btn-get-started scrollto">Log-in</a>
  <a href="{% url 'signup' %}" class="btn-get-started scrollto">Join</a>
</div>
{% endif %}
      
  </div>
</section><!-- End Main page -->

  <main id="main">

    <!-- ======= 명륜캠퍼스 Section ======= -->
    <section id="mung" class="mung">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>명륜캠퍼스</h2>
              <p>과제로 지쳐있는 유생들에게는  <br/>카페인이 필요해요</p>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.6235528707853!2d126.9911398149129!3d37.587481230686834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2d4c193f7a7%3A0xbfdb251ca73f8b92!2z7ISc7Jq47Yq567OE7IucIOuqheulnDPqsIDrj5kg7ISx6reg6rSA64yA7ZWZ6rWQIO2VmeyDne2ajOq0gA!5e0!3m2!1sko!2skr!4v1655262705620!5m2!1sko!2skr" width="800" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
          
              <p><a href="{% url 'mmm' %}">사랑방 [경영관 지하3층]</a></p>
              <p>ttt [경영관 지하2층]
              <p>팬도로시 [국제관 1층]</p>
              <p>Take-Out 커피점 [다산경제관 1층]</p>
              <p>레브 [수선관 별관 1층]</p>
              <p>로봇커피 [중앙학술정보관 3층]</p>
            </div>
    
          </div>
        </div>

      </div>
    </section><!-- End 명륜캠퍼스 Section -->

    <!-- ======= 율전캠퍼스 Section ======= -->
    <section id="yul" class="yul">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>율전캠퍼스</h2>
              <p>율전이들의 생명수  <br/>아.이.스.아.메.리.카.노</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.6235528707853!2d126.9911398149129!3d37.587481230686834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2d4c193f7a7%3A0xbfdb251ca73f8b92!2z7ISc7Jq47Yq567OE7IucIOuqheulnDPqsIDrj5kg7ISx6reg6rSA64yA7ZWZ6rWQIO2VmeyDne2ajOq0gA!5e0!3m2!1sko!2skr!4v1655262705620!5m2!1sko!2skr" width="800" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
          
              <p>커피빈 [N센터 1층]</p>
              <p>카페나무 [기숙사의관 1층]
              <p>팬도로시 [산학협력센터 1층]</p>
              <p>카페NU [제1공학관 22동]</p>
              <p>로봇커피 [삼성학술정보관 1층]</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End 율전캠퍼스 Section -->

  </main><!-- End #main -->

{% endblock %}