{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- ======= 명륜카페 Section ======= -->
    <!-- 원래 about 이었음 -->
    <section id="m1" class="m1"> 
        <div class="container">
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <h2>명륜 - 사랑방</h2>
              <img src="" alt="사랑방"></div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <div class="cafe_info">
              <h2>사랑방</h2>
              <hr class="info_hr">
                <P> 위치 : 경영관 B3</P>
                <P> 전화번호 : 02-740-1916</P>
                <P> 영업시간 : 학기 중 평일 8:30 ~ 18:00</P>
                <P> 영업상태 : OPEN / CLOSE</P>
            </div>
            <div class="hssc_btn">
              <a href="{% url 'order' %}" ><button  class="order_btn" >ORDER</button></a>
              <a href="{% url 'gift' %}" ><button  class="gift_btn" >GIFT</button></a>
            </div>
          </div>
        </section>
  

  
      
      <!-- End 명륜카페 Section -->
      



{% endblock %}