{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
 <!-- 수정 수정 수정 -->
    
 <div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          
          <div class="tabbable" id="tabs-981778">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" href="#tab1" data-toggle="tab">
                     
                      주문내역
                    </a>
                 </li>
                  <li class="nav-item">
                    <a class="nav-link " href="#tab2" data-toggle="tab">
                  
                        선물함
                        
                    </a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                      <p>
                        <br>
                        주문내역
                          <br>

                          <h3>
                            <!--주문내역-->
                          </h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <!--#-->
                                    </th>
                                    <th>
                                        제품명
                                    </th>
                                    <th>
                                        주문날짜
                                    </th>
                                    <th>
                                      카페명
                                    </th>
                                    <th>
                                      가격
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        아메리카노 외 2
                                    </td>
                                    <td>
                                        01/04/2022
                                    </td>
                                    <td>
                                        사랑방(명륜)
                                    </td>
                                    <td>
                                      8000원
                                    </td>
                                </tr>
                                <tr >
                                    <td>
                                        2
                                    </td>
                                    <td>
                                       아메리카노
                                    </td>
                                    <td>
                                        06/19/2022
                                    </td>
                                    <td>
                                        NU(율전)
                                    </td>
                                    <td>
                                      8000원
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        아이스티
                                    </td>
                                    <td>
                                        06/20/2022
                                    </td>
                                    <td>
                                        NU(율전)
                                    </td>
                                    <td>
                                      7000원
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        초코라떼
                                    </td>
                                    <td>
                                        06/29/2022
                                    </td>
                                    <td>
                                        사랑방(명륜)
                                    </td>
                                    <td>
                                      7500원
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        바닐라라떼
                                    </td>
                                    <td>
                                        06/28/2022
                                    </td>
                                    <td>
                                        사랑방(명륜)
                                    </td>
                                    <td>
                                      6000원
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </p>
                      
                  </div>
                  <div class="tab-pane" id="tab2">
                      <p>
                        <br>
                          선물함
                        <br>
                        <h3>
                          <!--선물함-->
                      </h3>
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>
                                      <!--#-->
                                  </th>
                                  <th>
                                      제품명
                                  </th>
                                  <th>
                                      카페명
                                  </th>
                                  <th>
                                      from
                                  </th>
                                  <th>
                                    기한
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      1
                                  </td>
                                  <td>
                                      아메리카노 외 2
                                  </td>
                                  <td>
                                      사랑방(명륜)
                                  </td>
                                  <td>
                                    허은세
                                  </td>
                                  <td>
                                    08/04/2022
                                  </td>
                                  
                              </tr>
                              <tr >
                                  <td>
                                      2
                                  </td>
                                  <td>
                                     아메리카노
                                  </td>
                                  <td>
                                      NU(율전)
                                  </td>
                                  <td>
                                      조준형
                                  </td>
                                  <td>
                                    08/13/2022
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>
                                      3
                                  </td>
                                  <td>
                                      아이스티
                                  </td>
                                  <td>
                                      NU(율전)
                                  </td>
                                  <td>
                                      조서연
                                  </td>
                                  <td>
                                    08/20/2022
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>
                                      4
                                  </td>
                                  <td>
                                      초코라떼
                                  </td>
                                  <td>
                                      사랑방(명륜)
                                  </td>
                                  <td>
                                      최영준
                                  </td>
                                  <td>
                                    07/24/2022
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>
                                      5
                                  </td>
                                  <td>
                                      바닐라라떼
                                  </td>
                                  <td>
                                      사랑방(명륜)
                                  </td>
                                  <td>
                                      홍채정
                                  </td>
                                  <td>
                                    07/04/2022
                                  </td>
                                  
                              </tr>
                          </tbody>
                      </table>


                      </p>
                     
                  </div>
              </div>
          </div>
        
          <!--
          <button type="button" class="btn btn-success">
              Button
          </button>
          -->
      </div>
  </div>
</div>

<!-- 수정 수정 수정 -->
</section>


{% endblock %}