{% extends 'base.html' %}

{% block content %}

<h1>제목: {{ post_detail.title }}</h1>

<h2>작성날짜: {{ post_detail.date }}</h2>
<h2>{{ post_detail.author.username }}</h2>

<P>
    {{ post_detail.body }}
</P>

<!--댓글 목록 공간-->
{% for comment in post_detail.comment_set.all %}
    <p>{{ comment }}</p>
    <hr>
{% endfor %}

<!--댓글 입력 공간-->
<form method="POST" action="{% url 'new_freecomment' post_detail.id %}">
    {% csrf_token %}

    {{ comment_form }}
    <input type="submit" value="댓글 입력">
</form>

{% endblock %}